* {
  font-family: Helvetica, sans-serif;
}

header, footer {
  background: #333;
  height: 100px;
}

header img {
  float: left;
  margin-top: 15px;
  margin-right: 60px;
}

header li {
  display: inline-block;
  margin-top: 40px;
  margin-right: 55px;
}

nav {
  margin: 0px auto;
  width: 960px;
}

a {
  text-decoration: none;
  color: #888;
}

/*
main {
  width: 990px;
  height: 375;
  margin: 30px auto;

}

main ul {
  margin-top: 25px;
  margin-bottom: 25px;
  list-style: none;
  padding: 0;
}

main ul li {
  display: inline-block;
  margin-right: 25px;
}

section {
  width: 960px;
}

.FixedContainer {
  float: right;
  height: 400px;
  width: 450px; 
  padding: 3px; 
}

.FixedContainer h2 {
  margin: 0%;
}

.Content
{
  height:300px;
  overflow: auto;
  background:#fff;
  margin-bottom: 12px;
}

#pic {
  margin-right: 0px;
  margin-left: 0px;
}

button {
  font-size: 20px;
  float: left;
  margin-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 90px;
  padding-left: 90px;
}
*/

main {
  width: 960px;
  margin: 30px auto;
}

main ul {
  padding-left: 0px;
 
}

main li {
  list-style: none;
  float: left;
  margin-top: 30px;
}

main li:nth-child(2n) {
  margin: 30px 30px 30px 30px;
}

section img {
  float: left;
}

section div {
  width: calc(50% - 30px);
  float: left;
  padding-left: 30px;
  margin-bottom: 30px;
}

section h2 {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
}

section p {
  font-style: italic;
  height: 325px;
  overflow: auto;
  line-height: 20px;
}

button {
  border: none;
  padding: 10px 30px;
  background: #000;
  color: #fff;
  border-radius: 3px;
  font-size: 18px;
  margin-top: 15px;

  /*Pointer: hand pointer, trans: hover timing*/
  cursor: pointer;
  transition: 350ms;
}

button:hover {
  background: #007900;
  color: rgb(0, 255, 55);
}

footer {
  clear: both;
}