* {
  font-family: Helvetica, sans-serif;
}

header, footer {
  background: #333;
  height: 100px;
}

header img {
  float: left;
  margin-top: 15px;
  margin-right: 60px;
}

header li {
  display: inline-block;
  margin-top: 40px;
  margin-right: 55px;
}

nav {
  margin: 0px auto;
  width: 960px;
}

a {
  text-decoration: none;
  color: #888;
}

main {
  width: 990px;
  height: 375;
  margin: 30px auto;
  
}

/*
main ul {
  margin: 30px auto;
  padding: 0;
  list-style: none;
}

main ul img {
  display: inline-block;
  text-align: center;
}
*/

main ul {
  margin-top: 25px;
  list-style: none;
  padding: 0;
}

main ul li {
  display: inline-block;
  margin-right: 25px;

}
